
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFuncionamentoLabel" translate="timeLocationApp.funcionamento.home.createOrEditLabel">Create or edit a Funcionamento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.funcionamento.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.funcionamento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timeLocationApp.funcionamento.data_inicio" for="field_data_inicio">Data Inicio</label>
                <div class="input-group">
                    <input id="field_data_inicio" type="text" class="form-control" name="data_inicio" datetime-picker="{{dateformat}}" ng-model="vm.funcionamento.data_inicio" is-open="vm.datePickerOpenStatus.data_inicio"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_inicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data_inicio.$invalid">
                <p class="help-block"
                    ng-show="editForm.data_inicio.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.data_inicio.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timeLocationApp.funcionamento.data_fim" for="field_data_fim">Data Fim</label>
                <div class="input-group">
                    <input id="field_data_fim" type="text" class="form-control" name="data_fim" datetime-picker="{{dateformat}}" ng-model="vm.funcionamento.data_fim" is-open="vm.datePickerOpenStatus.data_fim"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_fim')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data_fim.$invalid">
                <p class="help-block"
                    ng-show="editForm.data_fim.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.data_fim.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timeLocationApp.funcionamento.createdAt" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" datetime-picker="{{dateformat}}" ng-model="vm.funcionamento.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
